{% extends "base.html" %}
<!-- This Load static is for loading media. Currently icons are saved in a media folder. -->
{% load static %}

{% block title %} {{user_wf}} tasks {% endblock %}

{% block content %}
{% if tasks %}

<p class="task_array" hidden>{{tasks}}</p>
<dialog class="task_dialog">
  <div class="exit_dialog_container">
    <button class="exit_dialog_btn">
      <img class ="icon close_icon" src="{% static 'media/task_dialog/close.png' %}" alt="exit dialog" >
  </button>
  </div>

  <h4 class="dialog_title">Task selected</h4>
  <p class="current_task"></p>

  <div class="task_form">
    <form class="task_form" method="POST">
      {% csrf_token %}
      <div class="form_btn_container">
        <button class="attachment_btn dialog_btn" type="submit">
          <img  class="attachment_icon icon" src="{% static 'media/task_dialog/folder.png' %}" alt="Attachment Files">
        </button>
      </div>
      {{file_form.as_p}}
    </form>

    <form class="task_form" method="POST"> 
      {% csrf_token %}
      <div class="form_btn_container">
        {{conf_dec_form.as_p}}
        <img class="icon" src="{% static 'media/task_dialog/check.png' %}" alt="confirm"> 
        <input class="dialog_btn confirm_btn" type="submit" value="Confirm" name="confirm">
      </div>
      <div class="form_btn_container">
        <img class="icon cancel_icon" src="{% static 'media/task_dialog/cancel.png' %}" alt="close">
        <input class="decline_btn dialog_btn" type="submit" name="decline" id="decline" value="Decline">
      </div>
    </form>
  </div>
</dialog>
<h1 class="welcome_heading">Welcome <b class="user_wf">{{user_wf}}</b></h1>

<div class="tbl_header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr class="header_row">
          <th class="th">ID Processo</th>
          <th class="th">Processo</th>
          <th class="th">Task</th>
          <th class="th">Role</th>
          <th class="th">Doc.</th>
          <th class="th">To do</th>
          <th class="th">Imp</th>
          <th class="th">Val</th>
          <th class="th">Dt</th>
        </tr>
      </thead>
    </table>
</div>

<div class="tbl_content">
    <table class="task_table">
        <tbody class="task_body">
           
        </tbody>
    </table>
</div>

<div class="tbl_header hide_element">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr class="header_row">
        <th class="files">ID File</th>
      </tr>
    </thead>
  </table>
</div>

<div class="tbl_content hide_element" >
  <p class="attachment_data" hidden>{{attachments}}</p>
  <table class="attachment_table">
    <tbody class="attachment_body">
      
    </tbody>
  </table>
</div>

{% else %}
<div class="err_container">
  <b class="err_msg">{{msg}}</b>
  <br>
  <br>
  <a href="{% url 'login' %}" class="login_link">Back to login</a>
</div>
{% endif %}
{% endblock content%}