{% extends "base.html" %}
<!-- This Load static is for loading media. Currently icons are saved in a media folder. -->
{% load static %}

{% block title %} {{user_wf}} tasks {% endblock %}

{% block content %}
{% if tasks %}

<p class="task_array" hidden>{{tasks}}</p>
<dialog class="task_dialog">
  <div class="exit_dialog_container">
    <img class ="icon close_icon" src="{% static 'media/close.png' %}" alt="exit dialog" >
  </div>
    <h4 class="dialog_title">Task selected</h4>
    <p class="current_task"></p>

    <form class="task_form" method="POST">
      {% csrf_token %}

      <div class="form_btn_container">
        {{form.as_p}}
        <input class="data_input" type="text" name="data" hidden>
        <img class="icon" src="{% static 'media/check.png' %}" alt="confirm"> 
        <input class="dialog_btn confirm_btn" type="submit" value="Confirm" name="confirm">
      </div>
      <div class="form_btn_container">
        <img class="icon cancel_icon" src="{% static 'media/cancel.png' %}" alt="close">
        <input class="decline_btn dialog_btn" type="submit" name="decline" id="decline" value="Decline">
      </div>
    </form>
  </dialog>
<h1 class="welcome_heading">Welcome <b class="user_wf">{{user_wf}}</b></h1>

<div class="tbl_header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr class="header_row">
          <th class="th">ID Processo</th>
          <th class="th">Processo</th>
          <th class="th">Task</th>
          <th class="th">Role</th>
          <th class="th">Doc.</th>
          <th class="th">To do</th>
          <th class="th">Imp</th>
          <th class="th">Val</th>
          <th class="th">Dt</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbl_content">
    <table class="task_table">
        <tbody class="task_body">
           
        </tbody>
    </table>
  </div>

{% else %}
<div class="err_container">
  <b class="err_msg">{{msg}}</b>
  <br>
  <br>
  <a href="{% url 'login' %}" class="login_link">Back to login</a>
</div>
{% endif %}
{% endblock content%}