:root {
  --sap_table_header_color: rgb(5, 52, 113);
  --table_grid_color: rgb(200,200,200);
  --background_btn_color: gainsboro;
  --dark_tbl_header: rgb(2, 29, 65);
  --dark_hover:rgb(68, 68, 68);
}

.back_to_login {
  padding: 0.5em 1em;
  transition: 250ms;
  text-decoration: none;
  border-radius: 10px;
}
.back_to_login:hover {
  background: var(--background_btn_color);
}

.white_text {
  color: white;
}

.back_to_login_container {
  margin: 1em;
}

.err_container {
  margin: 1em;
  text-align: center;
  font-size: large;
}

.welcome_heading {
  margin: 1em;
  text-align: center;
}

.theme_btn {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.5rem 3rem;
  padding: 1em;
  transition: 250ms;
  border-radius: 100%;
}
.theme_btn:hover {
  background: var(--background_btn_color);
}

.theme_img {
  width: 30px;
  height: 30px;
}

.dark_mode {
  background: rgb(22, 22, 22);
  color: white;
}

.dark_tbl_header {
  background: var(--dark_tbl_header) !important;
  border: 1px solid rgb(104, 104, 104);
}

.dark_background:hover {
  background: rgb(68, 68, 68) !important;
}

.user_wf {
  text-transform: lowercase;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.tbl_header {
  background-color: var(--sap_table_header_color);
  color: white;
}

.tbl_content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgb(150, 150, 150);
}

.tbl_content, .tbl_header {
  margin: 0 2em;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

td {
  word-wrap: break-word;
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px var(--table_grid_color);
  border-right: solid 1px var(--table_grid_color);
}
td:last-child {
  border-right: none;
}

tr {
  cursor: pointer;
  transition: 250ms;
}
tr:hover {
  background-color: gainsboro;
}

.header_row {
  cursor: initial;
}
.header_row:hover {
  background-color: initial;
}

.task_dialog {
  border: 1px solid var(--table_grid_color);
  box-shadow: 0 0 5px black;
  white-space: normal;
  margin: auto;
  padding: 2rem;
}

.dialog_title {
  text-align: center;
  margin-bottom: 1em;
}

.dialog_btn {
  cursor: pointer;
  padding: 1rem;
  margin: 1em;
  border: none;
  background-color: rgb(255, 255, 255);
  transition: 250ms;
}
.dialog_btn:hover {
  background-color: gainsboro;
  border-radius: 10px;
}

.selected_task_list {
  list-style: none;
}

.to_do_moved {
  margin-top: 0.5rem;
}

li > .to_do_moved {
  margin-top: 0;
}

.task_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
}

.cancel_icon {
  width: 20px;
  height: 20px;
}

.close_icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0em;
}

.attachment_container {
  display: flex;
  align-items: center;
}

.attachment_btn {
  margin-top: 1em;
}

.exit_dialog_container {
  padding: 0.5em;
  float: right;
  cursor: pointer;
  transition: 250ms;
}
.exit_dialog_container:hover {
  background-color: gainsboro;
}

.exit_dialog_btn {
  background: none;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
}

.form_btn_container {
  display: flex;
  align-items: center;
  margin: 1em;
}
.form_btn_container > p > label {
  display: none;
}

.hide_element {
  display: none;
}

.show_element {
  display: block;
}

.nav_list {
  display: flex;
  list-style: none;
  margin-left: 1rem;
}

.nav_item {
  margin: 1rem;
}

.li_btn {
  border: none;
  border-radius: 100%;
  background: none;
  padding: 1rem;
  cursor: pointer;
  transition: 250ms;
}
.li_btn:hover {
  background: var(--background_btn_color);
}

.opacity {
  opacity: 0.5;
}
.opacity:hover {
  opacity: 1;
}

.pdf_container {
  margin: 0 2em;
}

@media (max-width: 767px) {
  .dialog_btn {
    margin: 0.2rem;
  }
  .task_form {
    font-size: 0;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .close_icon {
    width: 15px;
    height: 15px;
  }
  .cancel_icon {
    width: 15px;
    height: 15px;
  }
  .li_img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 425px) {
  .theme_img {
    width: 20px;
    height: 20px;
  }
  .theme_btn {
    margin: 0 2.5rem;
  }
  .task_dialog {
    width: -webkit-fill-available;
    font-size: 0.75rem;
    margin: 2em;
  }
  .dialog_btn, .attachment_container {
    font-size: 0.7rem;
  }
  .attachment_container {
    justify-content: center;
  }
  .responsive_cell {
    font-size: 10px;
  }
  th {
    font-size: 10px;
  }
  .welcome_heading {
    font-size: 1rem;
    text-align: center;
  }
  .selected_task_list {
    text-align: center;
    list-style: none;
  }
  .selected_task_list > li {
    margin: 0.5rem;
  }
  li > .to_do_moved {
    margin: 0.5em;
  }
  .task_form {
    justify-content: center;
    flex-direction: column;
  }
  .li_img {
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=tasks.css.map */