.form_container {
    text-align: center;
    font-size: 1.2em;
}
$background_login_form: rgb(221, 221, 221);
$border_login_form: rgb(150,150,150);
.login_form {
    background-color: $background_login_form;
    border: 1px solid $border_login_form;
    width: 30vw;
    margin: 1em  auto;
}

.login_title{
    margin: 1em;
}

.username_container {
    & > p > label {
        margin: 0 .3rem;
    }

    & > p > input {
        font-size: 1.2rem;
    }

    & > * {
        margin: 1em;
    }
}

.errorlist {
    list-style-type: none;
    font-weight: bold;
}

.submit_btn {
    font-size: 1em;
    padding: .5em 2em;
    cursor: pointer;
}

//responsive, mobile view
@media (max-width: 970px){
    .login_form {
        width: initial;
        margin: 1em 1em;
    }  
}